$white: rgba(255, 255, 255, 0.863);
$heroImgBgc: rgba(24, 49, 59, 0.7);
$checkAndNextBtnBgc: rgba(60, 70, 105, 0.815);
$anwersButtonsBgc: rgba(13, 19, 34, 0.4);
$chooseAnswerBgc: rgba(27, 107, 172, 0.541);
$goodAnswerBtnBgc: rgba(11, 175, 60, 0.815);
$badAnswerBtnBgc: rgba(201, 18, 18, 0.582);
$textShadow: 2px 1px rgba(25, 25, 50, 0.8);
$quizBoxShadow: 2px 3px 5px rgba(0, 0, 0, .8);
$quizShadowBgc: rgba(3, 2, 2, 0.473);