//992px


body {
    background-image: url("../img/bgcLarge.jpg");
}

.quiz {
    height: 45vh;

    .question {
        font-size: 1rem;
    }

    .btn,
    .choosedBtn,
    .chknxtBtn {
        font-size: .6rem;
        height: 10vh;
        width: 29vw;
    }

    .chknxtBtn {
        width: 98%;
    }


}