//992px


body {
    background-image: url("../img/bgcLarge.jpg");
}

.quiz {
    .question {
        font-size: 1.2rem;
    }

    .btn,
    .choosedBtn {
        font-size: .8rem;
        width: 29vw;
    }

    .chknxtBtn {
        font-size: .8rem;
    }


}