//768px

// set higher resolution photo for background
body {
    background-image: url("../img/bgcMedium.jpg");
}

//main quiz class
.quiz {
    top: 40%;
    width: 85vw;
    height: 50vh;

    //wrapper for questions and anwers
    .quizWrapper {
        top: 50%;
    }

    // quiz questions
    .question {
        font-size: 1rem;
        padding: 0 .33rem;
    }

    // set inline-flex style anwer buttons
    .anwers {
        display: inline-flex;
        flex-direction: row;
    }

    // change some properties for anwer buttons
    .btn,
    .choosedBtn {
        font-size: .8rem;
        padding: .1rem;
        width: 32vw;
        height: 9vh;
        margin-bottom: .83rem;
    }


    //change some properties for check and next buttons
    .chknxtBtn {
        font-size: .7rem;
        line-height: 50%;
        width: 96%;
        padding: .66rem;
    }

}

@media (min-width: 800px) and (max-height: 500px) {
    .quiz {
        top: 50%;
        height: 85vh;

        .btn,
        .checkBtn,
        .nextBtn {
            height: 18vh;
        }



    }

}