//mobile first

@import "colors";

// easy reset 
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// set font size to 30px 
:root {
    font-size: 30px;
}

body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: $white;
    background-image: url("../img/bgcSmall.jpg");
    background-position: bottom;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 0;
}

// Make shadow on hero image
.quizShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $heroImgBgc;
    z-index: -1;
}

// quiz main class 
.quiz {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 49vh;
    background-color: $quizShadowBgc;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .6rem;
    box-shadow: $quizBoxShadow;

    //wrapper for question and buttons
    .quizWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .anwers {
        display: inline-flex;
        flex-direction: column;
    }

    // quiz questions
    .question {
        color: $white;
        margin-bottom: .5rem;
        font-size: .7rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: $textShadow;
    }

    //style for anwers, check and next buttons
    .btn,
    .chknxtBtn,
    .choosedBtn {
        font-size: .5rem;
        width: 80vw;
        height: 8vh;
        margin: .3rem;
        color: $white;
        background-color: $anwersButtonsBgc;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
        border-radius: .1rem;
        text-shadow: $textShadow;
        text-transform: uppercase;
        transition: font-weight .3s, border-top.3s, border-right .3s, border-bottom .3s, border-left .3s, border-radius .6s, background-color.3s, letter-spacing .3s, cursor .3s;
    }

    //when user clicked anwers
    .choosedBtn {
        background-color: $chooseAnswerBgc;
        cursor: pointer;
    }


    // style for anwers buttons
    .btn:hover {
        font-weight: bold;
        border-top: 1px solid $goodAnswerBtnBgc;
        border-right: none;
        border-bottom: 1px solid $badAnswerBtnBgc;
        border-left: none;
        border-radius: 0;
        background-color: transparent;
        letter-spacing: 1px;
        cursor: pointer;
    }

    // styles for check and next buttons 
    .chknxtBtn {
        margin-top: .6rem;
        justify-content: center;
        align-items: center;
        background-color: $checkAndNextBtnBgc;
        transition: font-weight .3s, letter-spacing .3s, cursor .3s, animation .3s;
    }

    // check button has to be visible first
    .checkBtn {
        display: block;
    }

    .checkBtn:hover {
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        animation: animForCheckBtn 1.3s infinite;

    }

    @keyframes animForCheckBtn {
        0% {
            background-color: $goodAnswerBtnBgc;
        }

        50% {
            background-color: $badAnswerBtnBgc;
        }

        100% {
            background-color: $goodAnswerBtnBgc;
        }

    }

    // next buttons display none until user click check button
    .nextBtn {
        display: none;
        animation: nextButton .6s linear;
        transition: background-color .3s, cursor .3s;
    }

    .nextBtn:hover {
        background-color: rgba(17, 51, 78, 0.541);
        cursor: pointer;
    }

    @keyframes nextButton {
        from {
            width: 0%;
        }

        to {
            width: 98%;
        }
    }

}

@media(min-width: 560px) {
    .quiz {
        height: 60vh;
    }
}

@media (orientation: landscape) {
    .quiz {

        .btn,
        .chknxtBtn,
        .choosedBtn {
            margin-top: .3rem;
            height: 9vh;
        }
    }
}