//mobile first

@import "colors";

// easy reset 
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// set font size to 30px 
:root {
    font-size: 30px;
}

body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: $white;
    background-image: url("../img/bgcSmall.jpg");
    background-position: bottom;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 0;
}

// Make shadow on hero image
.quizShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $heroImgBgc;
    z-index: -1;
}

// quiz main class 
.quiz {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 50vh;
    background-color: $quizShadowBgc;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .6rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .8);

    //wrapper for question and buttons
    .quizWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // quiz questions
    .question {
        color: $white;
        margin-bottom: .9rem;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0px 1px 2px rgba(25, 25, 50, 0.8);
    }

    //style for anwers, check and next buttons
    .btn,
    .chknxtBtn {
        font-size: .9rem;
        width: 80vw;
        height: 8vh;
        margin: .16rem;
        color: $white;
        background-color: rgba(13, 19, 34, 0.4);
        border: none;
        border-radius: .1rem;
        text-shadow: 1px 1px 4px black;
        text-transform: uppercase;
        transition: font-weight .3s, border-top.3s, border-right .3s, border-bottom .3s, border-left .3s, border-radius .6s, background-color.3s, letter-spacing .3s, cursor .3s;
    }

    .choosedBtn {
        font-size: .9rem;
        width: 80vw;
        height: 8vh;
        margin: .16rem;
        color: $white;
        background-color: rgba(13, 19, 34, 0.4);
        border: none;
        border-radius: .1rem;
        text-shadow: 1px 1px 4px black;
        text-transform: uppercase;
        background-color: rgba(60, 70, 105, 0.815);
    }


    // style for anwers buttons
    .btn:hover {
        font-weight: bold;
        border-top: 1px solid $goodAnswerBtnBgc;
        border-right: none;
        border-bottom: 1px solid $badAnswerBtnBgc;
        border-left: none;
        border-radius: 0;
        background-color: transparent;
        letter-spacing: 1px;
        cursor: pointer;
    }

    // styles for check and next buttons 
    .chknxtBtn {
        justify-content: center;
        align-items: center;
        background-color: $checkAndNextBtnBgc;
        transition: font-weight .3s, letter-spacing .3s, cursor .3s, animation .3s;
    }

    .chknxtBtn:hover {
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        animation: animForCheckBtn 2.5s infinite;

    }

    @keyframes animForCheckBtn {
        0% {
            background-color: $goodAnswerBtnBgc;
        }

        50% {
            background-color: $badAnswerBtnBgc;
        }

        100% {
            background-color: $goodAnswerBtnBgc;
        }

    }



    // check button has to be visible first
    .checkBtn {
        display: block;
    }

    // next buttons display none until user click check button
    .nextBtn {
        display: none;
    }


}